**/*.config.js
**/*.json
**/*.handlebars
**/*.config.mjs
modules/account
modules/adherence
modules/benefit
modules/campaign
modules/catalog
modules/catalogo
modules/conta
modules/controlled
modules/coupon
modules/delivery
modules/healthhub
modules/help
modules/home
modules/hub
modules/loyalty
modules/offer
modules/order
modules/pbm
modules/preco
modules/prime
modules/store
modules/subscription
modules/tagify
doc
ds
core
app
templating
